{% extends 'layout.html' %}


{% block body %}
    <div class="jumbotron text-center">
        <h4> ForCov, an initiative </h4>
    </div>
    <br>
<div class="jumbotron text-center">
    <p> Welcome to ForCov, a site dedicated to show you the data on oxygen and beds availaibity in the most cleanest, fastest, easiest, and most efficient way possible.
    <br> You can navigate between Home, About, Oxygen and Beds sections from the navbar or by clicking on the hamburger icon from mobile devices. <br> 
        Also, it is worthy to note that our sources dont guarantee you oxygen or beds. <br> If your name has been entried as an oxygen supplier and you wish to remove it from 
    our site, please contact us at stopatakr@gmail.com, it will be removed at the earliest. 
 </p>
</div>
    

{% endblock %}
